@charset 'utf-8';
header > .contain {
  width: 1226px;
  height: 100px;
  margin: 0 auto;
}
header > .contain .head-logo > img {
  width: 56px;
  height: 56px;
  margin-top: 22px;
}
header > .contain > ul {
  padding-left: 150px;
}
header > .contain > ul > nav {
  float: left;
}
header > .contain > ul > nav > .list > :nth-child(2) {
  width: 95px !important;
}
header > .contain > ul > nav > .list > :nth-child(3) {
  width: 60px !important;
}
header > .contain > ul > nav > .list > :nth-child(4) {
  width: 70px !important;
}
header > .contain > ul > nav > .list > :nth-child(5) {
  width: 60px !important;
}
header > .contain > ul > nav > .list > :nth-child(6) {
  width: 70px !important;
}
header > .contain > ul > nav > .list > :nth-child(7) {
  width: 80px !important;
}
header > .contain > ul > nav > .list > :nth-child(8) {
  width: 60px !important;
}
header > .contain > ul > nav > .list > :nth-child(9) {
  width: 60px !important;
}
header > .contain > ul > nav .list {
  float: left;
}
header > .contain > ul > nav .list > .item {
  text-align: center;
  float: left;
  font-size: 16px;
  line-height: 100px;
  cursor: pointer;
}
header > .contain > ul > nav .list > .item > .sub_list {
  display: none;
  position: absolute;
  width: 100%;
  height: 220px;
  background-color: #fff;
  top: 140px;
  z-index: 200;
  margin-left: -50%;
  left: 50%;
  border-top: 1px solid #c5acac;
  border-bottom: 1px solid #c5acac;
}
header > .contain > ul > nav .list > .item > .sub_list > ul {
  width: 1226px;
  height: 220px;
  margin: 0 auto;
  padding-left: 40px;
  display: flex;
  font-size: 14px;
}
header > .contain > ul > nav .list > .item > .sub_list > ul > span {
  display: block;
  height: 80px;
  width: 1px;
  background: #c5acac;
  margin: 30px 15px 0;
}
header > .contain > ul > nav .list > .item > .sub_list > ul > li {
  float: left;
  margin-left: 20px;
  width: 170px;
  height: 200px;
  line-height: 20px !important;
}
header > .contain > ul > nav .list > .item > .sub_list > ul > li > img {
  display: block;
  width: 130px;
  height: 80px;
  margin: 30px auto;
}
header > .contain > ul > nav .list > .item > .sub_list > ul > li > .price {
  color: red;
}
header > .contain > ul > nav .list > .item > .sub_list > ul > .not > img {
  border: 0 !important;
}
header > .contain > ul form {
  margin-top: 25px;
}
header > .contain > ul form .inp-se {
  width: 245px;
  height: 50px;
  line-height: 50px;
  color: #3b6154;
}
header > .contain > ul form .inp-bt {
  width: 52px;
  height: 50px;
  font-size: 17px;
  font-weight: 100;
  border-bottom: 1px solid #3b6154;
  border-right: 1px solid #3b6154;
  border-top: 1px solid #3b6154;
  padding-left: 18px;
}
header > .contain > ul form .inp-bt span {
  margin: auto;
  line-height: 50px;
}
.red li {
  background: red;
}
.blue li {
  background: blue;
}
.green li {
  background: green;
}
