* {
  padding: 0;
  margin: 0;
}
#wrapper {
  width: 1226px;
  height: 460px;
  margin: 0 auto;
  position: relative;
}
#wrapper .menu {
  top: -20px;
}
#wrapper .menu2 {
  top: -62px;
}
#wrapper .menu3 {
  top: -104px;
}
#wrapper .menu4 {
  top: -146px;
}
#wrapper .menu5 {
  top: -188px;
}
#wrapper .menu6 {
  top: -230px;
}
#wrapper .menu7 {
  top: -272px;
}
#wrapper .menu8 {
  top: -314px;
}
#wrapper .menu9 {
  top: -356px;
}
#wrapper .menu10 {
  top: -398px;
}
#wrapper .menu,
#wrapper .menu2,
#wrapper .menu3,
#wrapper .menu4,
#wrapper .menu5,
#wrapper .menu6,
#wrapper .menu7,
#wrapper .menu8,
#wrapper .menu9,
#wrapper .menu10 {
  width: 992px;
  height: 460px;
  background-color: #fff;
  position: absolute;
  left: 234px;
  z-index: 10;
  display: none;
  border: 1px solid #e0e0e0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
}
#wrapper .menu > ul,
#wrapper .menu2 > ul,
#wrapper .menu3 > ul,
#wrapper .menu4 > ul,
#wrapper .menu5 > ul,
#wrapper .menu6 > ul,
#wrapper .menu7 > ul,
#wrapper .menu8 > ul,
#wrapper .menu9 > ul,
#wrapper .menu10 > ul {
  margin-top: 20px;
}
#wrapper .menu > ul > li,
#wrapper .menu2 > ul > li,
#wrapper .menu3 > ul > li,
#wrapper .menu4 > ul > li,
#wrapper .menu5 > ul > li,
#wrapper .menu6 > ul > li,
#wrapper .menu7 > ul > li,
#wrapper .menu8 > ul > li,
#wrapper .menu9 > ul > li,
#wrapper .menu10 > ul > li {
  position: relative;
  float: left;
  width: 206px;
  height: 76px;
  margin-left: 41px;
}
#wrapper .menu > ul > li img,
#wrapper .menu2 > ul > li img,
#wrapper .menu3 > ul > li img,
#wrapper .menu4 > ul > li img,
#wrapper .menu5 > ul > li img,
#wrapper .menu6 > ul > li img,
#wrapper .menu7 > ul > li img,
#wrapper .menu8 > ul > li img,
#wrapper .menu9 > ul > li img,
#wrapper .menu10 > ul > li img {
  margin-right: 12px;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}
#wrapper .menu > ul > li span,
#wrapper .menu2 > ul > li span,
#wrapper .menu3 > ul > li span,
#wrapper .menu4 > ul > li span,
#wrapper .menu5 > ul > li span,
#wrapper .menu6 > ul > li span,
#wrapper .menu7 > ul > li span,
#wrapper .menu8 > ul > li span,
#wrapper .menu9 > ul > li span,
#wrapper .menu10 > ul > li span {
  line-height: 40px;
  overflow: hidden;
  color: #333;
}
#wrapper .menu3,
#wrapper .menu5,
#wrapper .menu6,
#wrapper .menu8,
#wrapper .menu10 {
  width: 795px;
}
#wrapper .menu7 {
  width: 530px;
}
#wrapper .banner {
  width: 1226px;
  height: 460px;
  margin: 0 auto;
  position: absolute;
  overflow: hidden;
}
#wrapper .banner .imgList {
  position: absolute;
}
#wrapper .banner .imgList li {
  display: none;
  width: 1226px;
  height: 460px;
}
#wrapper .banner .imgList .imgOn {
  display: block;
}
#wrapper .banner .imgList > img {
  width: 1226px;
  height: 460px;
}
#wrapper .banner > span {
  position: absolute;
  font-size: 3em;
  cursor: pointer;
  top: 47%;
  user-select: none;
  color: #e6dbd4;
  padding: 10px 3px;
  font-weight: 100;
}
#wrapper .banner > span:hover {
  background-color: #8c9491;
}
#wrapper .lunli {
  position: absolute;
  z-index: 100;
  width: 234px;
  height: 460px;
  border: 0;
  color: #fff;
  background: rgba(105, 101, 101, 0.6);
  padding: 20px 0;
}
#wrapper .lunli > li {
  position: relative;
  display: block;
  padding-left: 30px;
  height: 42px;
  line-height: 42px;
}
#wrapper .lunli > li:hover {
  background-color: #ff6700;
}
#wrapper .lunli > li span {
  display: block;
  line-height: 42px;
  margin-right: 20px;
}
.banner > span:last-of-type {
  right: 0;
}
.banner > span:first-of-type {
  left: 234px;
}
.indexList {
  position: absolute;
  right: 10px;
  bottom: 5px;
  z-index: 30;
}
.indexList li {
  float: left;
  margin-right: 5px;
  padding: 2px 4px;
  border-radius: 50%;
  background: #dad0d0;
  cursor: pointer;
  width: 10px;
  height: 10px;
}
.indexList .indexOn {
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
#wrapper > .lunli .li1:hover > .menu {
  display: block;
}
#wrapper > .lunli .li2:hover > .menu2 {
  display: block;
}
#wrapper > .lunli .li3:hover > .menu3 {
  display: block;
}
#wrapper > .lunli .li4:hover > .menu4 {
  display: block;
}
#wrapper > .lunli .li5:hover > .menu5 {
  display: block;
}
#wrapper > .lunli .li6:hover > .menu6 {
  display: block;
}
#wrapper > .lunli .li7:hover > .menu7 {
  display: block;
}
#wrapper > .lunli .li8:hover > .menu8 {
  display: block;
}
#wrapper > .lunli .li9:hover > .menu9 {
  display: block;
}
#wrapper > .lunli .li10:hover > .menu10 {
  display: block;
}
